<h1><%= @fundraiser.name %></h1>

<h2><%= t("common.headers.bundles") %></h2>

<% if @tiers_by_bundle.any? %>
  <ul>
    <% @tiers_by_bundle.each do |bundle, tiers_by_price| %>
      <li class="bundle">
        <h3><%= bundle.name %></h3>
        <p>Donate <%= bundle.highest_tier.price.format %> or more to receive everything in this bundle.</p>

        <ul>
          <% tiers_by_price.each.with_index do |(tier_price, tiers), index| %>
            <li class="tier">
              <% if bundle.bundle_tiers.count > 1 %>
                <h4><%= tier_price.format %></h4>
                <p>Donate <%= tier_price.format %> or more to receive everything in this tier.</p>
                <% if index.positive? %>
                  <p>Includes everything in the previous tiers.</p>
                <% end %>
              <% end %>

              <ul>
                <% tiers.group_by(&:availability_text).each do |availability_text, tiers_for_availability| %>
                  <li class="availability-tier">
                    <% if tiers.any?(&:availability_text) %>
                      <h5><%= availability_text || "Available now" %></h5>
                    <% end %>

                    <ul>
                      <% tiers_for_availability.flat_map(&:games).each do |game| %>
                        <li class="game">
                          <%= link_to game.name, game_path(game) %>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>
    <%= t("fundraisers.show.no_bundles") %>
  </p>
<% end %>

<p>
  <%= link_to t("common.actions.donate_here"), new_fundraiser_donation_path(@fundraiser), class: "cta" %>
</p>

<p>
  <%= link_to "See current donations", fundraiser_donations_path(@fundraiser), class: "cta" %>
</p>

<% if @fundraiser.charities.any? %>
  <h2><%= t("common.headers.charities") %></h2>
  <ul>
    <% @fundraiser.charities.each do |charity| %>
      <li><%= link_to charity.name, charity_path(charity) %></li>
    <% end %>
  </ul>
<% end %>
