<h1><%= @streamer.twitch_username %></h1>

<%= render "streaming/twitch", channel: @streamer.twitch_username %>

<%= render "donations/donation_form", streamer: @streamer %>

<h2><%= t("donations.viewer_donations.header") %></h2>
<%= render "donations/list", donations: @streamer.donations %>
