<% content_for :head do %>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://www.paypal.com/sdk/js?client-id=<%= ENV['PAYPAL_CLIENT_ID'] %>&currency=GBP&integration-date=2022-04-08&disable-funding=card"></script>
  <script type="text/javascript">
    onReady(function() {
      let csrfToken = null;
      const csrfElement = document.querySelector("[name='csrf-token']")
      if (csrfElement) {
        csrfToken = csrfElement.content;
      }

      const form = document.getElementById("donation-form");

      paypal.Buttons({
        createOrder: (data, actions) => {
          return fetch("/paypal/prep-checkout", {
            method: "post",
            headers: {
              "Content-Type": "application/json",
              "X-CSRF-Token": csrfToken,
            },
            body: JSON.stringify({
              donation: {
                amount_currency: form.querySelector("[name='donation[amount_currency]']").value,
                amount: form.querySelector("[name='donation[amount]']").value,
                curated_streamer_id: form.querySelector("[name='donation[curated_streamer_id]']").value,
                donator_name: form.querySelector("[name='donation[donator_name]']").value,
                message: form.querySelector("[name='donation[message]']").value,
                on_behalf_of: form.querySelector("[name='on_behalf_of']").value,
              },
            }),
          })
          .then((response) => response.json())
          .then((order) => order.id);
        },
        // Finalize the transaction on the server after payer approval
        onApprove: (data, actions) => {
          return fetch(`/paypal/complete-checkout/${data.orderID}`, {
            method: "post",
            headers: {
              "Content-Type": "application/json",
              "X-CSRF-Token": csrfToken,
            },
          })
          .then((response) => response.json())
          .then((orderData) => {
            location.reload();
          });
        },
        style: {
          color: "silver",
          tagline: false,
        },
      }).render("#paypal-donate-button");

      Packs.application.addStripeToForm(document.getElementById('donation-form'));
      Packs.application.enableCharitySplit(document.getElementsByClassName('charity-split')[0]);
    });
  </script>
<% end %>

<h2><%= t("donations.form.header") %></h2>

<%= form_for new_donation("25.00", local_assigns[:streamer]), url: stripe_prep_checkout_path, html: { id: "donation-form", :'data-stripe-public-key' => ENV["STRIPE_PUBLIC_KEY"], :'data-test-mode' => Rails.env.test? } do |form| %>
  <p>
    <%= form.label :amount_currency, t("donations.form.currency") %>
    <%= form.select :amount_currency, options_for_select(Currency.present_all, Currency::DEFAULT_CURRENCY.downcase) %>
  </p>

  <p>
    <%= form.label :amount, t("donations.form.amount") %>
    <%= form.text_field :amount, html: { class: "amount" } %>
  </p>

  <ul class="charity-split" hidden>
    <%= form.fields_for :charity_splits do |fields| %>
      <li data-charity-id="<%= fields.object.charity.id %>">
        <p><%= fields.label :amount_decimals, fields.object.charity.name %></p>
        <p>
          <%= fields.range_field :amount_decimals %>
          <%= text_field_tag "donation[charity_splits_attributes][#{fields.index}][manual]", nil, class: "manual amount" %>

          <%= check_box_tag "donation[charity_splits_attributes][#{fields.index}][lock]", "1", false, class: "lock" %>
          <%= label_tag "donation[charity_splits_attributes][#{fields.index}][lock]", t("donations.form.lock") %>
        </p>
        <%= fields.hidden_field :charity_id %>
      </li>
    <% end %>
  </ul>

  <p>
    <%= form.label :donator_name, t("donations.form.name") %>
    <%= form.text_field :donator_name, value: form.object[:donator_name] %>
  </p>

  <p>
    <%= form.label :message, t("donations.form.message") %>
    <%= form.text_field :message %>
  </p>

  <p>
    <%= label_tag :on_behalf_of, t("donations.form.on_behalf_of") %>
    <%= text_field_tag :on_behalf_of %>
  </p>

  <%= form.hidden_field :curated_streamer_id %>

  <div class="sum-warning" hidden>
    <p><%= t("donations.form.error.split_calculation") %></p>
    <p><%= t("donations.form.error.correct_and_try_again") %></p>
  </div>

  <button id="stripe-donate"><%= t("donations.form.action") %></button>
  <div id="paypal-donate-button-container">
    <div id="paypal-donate-button"></div>
  </div>
<% end %>
