<% content_for :head do %>
  <script src="https://js.stripe.com/v3/"></script>
  <script type="text/javascript">
    onReady(function() {
      Packs.application.addStripeToForm(document.getElementById('donation-form'));
      Packs.application.enableCharitySplit(document.getElementsByClassName('charity-split')[0]);
    })
  </script>
<% end %>

<h2><%= t("donations.form.header") %></h2>

<%= form_for Donation.new(amount: "25.00", curated_streamer: (local_assigns.has_key?(:streamer) && streamer)), url: stripe_prep_checkout_path, html: { id: "donation-form", :'data-stripe-public-key' => ENV["STRIPE_PUBLIC_KEY"], :'data-test-mode' => Rails.env.test? } do |form| %>
  <p>
    <%= form.label :amount_currency, t("donations.form.currency") %>
    <%= form.select :amount_currency, options_for_select(Currency.present_all, Currency::DEFAULT_CURRENCY.downcase) %>
  </p>

  <p>
    <%= form.label :amount, t("donations.form.amount") %>
    <%= form.text_field :amount, html: { class: "amount" } %>
  </p>

  <ul class="charity-split" hidden>
    <%= form.fields_for :charity_splits do |fields| %>
      <li data-charity-id="<%= fields.object.charity.id %>">
        <p><%= fields.label :amount_decimals, fields.object.charity.name %></p>
        <p>
          <%= fields.range_field :amount_decimals %>
          <%= text_field_tag "donation[charity_splits_attributes][#{fields.index}][manual]", nil, class: "manual amount" %>

          <%= check_box_tag "donation[charity_splits_attributes][#{fields.index}][lock]", "1", false, class: "lock" %>
          <%= label_tag "donation[charity_splits_attributes][#{fields.index}][lock]", t("donations.form.lock") %>
        </p>
        <%= fields.hidden_field :charity_id %>
      </li>
    <% end %>
  </ul>

  <p>
    <%= form.label :message, t("donations.form.message") %>
    <%= form.text_field :message %>
  </p>

  <%= form.hidden_field :curated_streamer_id %>

  <div class="sum-warning" hidden>
    <p><%= t("donations.form.error.split_calculation") %></p>
    <p><%= t("donations.form.error.correct_and_try_again") %></p>
  </div>

  <button id="stripe-donate"><%= t("donations.form.action") %></button>
<% end %>
