<table class="donation-list">
  <thead>
    <tr>
      <th><%= t("donations.list.table.headers.amount") %></th>
      <th><%= t("donations.list.table.headers.status") %></th>
      <th><%= t("donations.list.table.headers.message") %></th>
      <th><%= t("donations.list.table.headers.donated_by") %></th>
    </tr>
  </thead>
  <tbody>
    <% donations.select(&:persisted?).each do |donation| %>
      <tr>
        <td>
          <%= donation.amount.format %>
          <% donation.charity_splits.each do |split| %>
            <%= split.charity.name %>: <%= split.amount.format %>
          <% end %>
        </td>
        <td><%= donation.state.humanize %></td>
        <td><%= donation.message %></td>
        <td><%= donation.donated_by&.name || (donation.donator == current_donator ? t("common.abstract.you") : donation.donator.display_name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
