<h1><%= t("donations.header") %></h1>

<% if @donations.any? %>
  <p>
    <%= t("donations.link_to_game_keys") %>
    <%= link_to @magic_url, @magic_url %>
  </p>

  <% if current_donator.email_address.present? %>
    <p>
      <%= t("donations.link_to_game_keys_email_sent") %>
    </p>
  <% end %>

  <h2><%= t("donations.list.header") %></h2>
  <%= render "list", donations: @donations %>
<% end %>

<%= render "donation_form" %>
