<% content_for :head do %>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://www.paypal.com/sdk/js?client-id=<%= ENV['PAYPAL_CLIENT_ID'] %>&currency=GBP&integration-date=2022-04-08&disable-funding=card"></script>
  <script type="text/javascript">
    onReady(function() {
      let payments;
      if (window.testData && window.testData['fake_payment_providers']) {
        payments = Packs.application.fakePayments;
      } else {
        payments = Packs.application.payments;
      }

      payments.addStripe(document.getElementById('stripe-donate-button'));
      payments.addPaypal(document.getElementById('paypal-donate-button'));
      Packs.application.enableCharitySplit(document.getElementsByClassName('charity-split')[0]);
    });
  </script>
<% end %>

<h2><%= t("donations.form.header") %></h2>

<%= form_for new_donation("25.00", fundraiser:), url: stripe_prep_checkout_path, html: { id: "donation-form", :'data-stripe-public-key' => ENV["STRIPE_PUBLIC_KEY"], :'data-test-mode' => Rails.env.test? } do |form| %>
  <p>
    <%= form.label :amount_currency, t("donations.form.currency") %>
    <%= form.select :amount_currency, options_for_select(Currency.present_all, Currency::DEFAULT_CURRENCY.downcase) %>
  </p>

  <p>
    <%= form.label :human_amount, t("donations.form.amount") %>
    <%= form.text_field :human_amount, html: { class: "amount" } %>
  </p>

  <ul class="charity-split" hidden>
    <%= form.fields_for :charity_splits do |fields| %>
      <li data-charity-id="<%= fields.object.charity.id %>">
        <p><%= fields.label :amount_decimals, fields.object.charity.name %></p>
        <p>
          <%= fields.range_field :amount_decimals %>
          <%= text_field_tag "donation[charity_splits_attributes][#{fields.index}][manual]", nil, class: "manual amount" %>

          <%= check_box_tag "donation[charity_splits_attributes][#{fields.index}][lock]", "1", false, class: "lock" %>
          <%= label_tag "donation[charity_splits_attributes][#{fields.index}][lock]", t("donations.form.lock") %>
        </p>
        <%= fields.hidden_field :charity_id %>
      </li>
    <% end %>
  </ul>

  <p>
    <%= form.label :donator_name, t("donations.form.name") %>
    <%= form.text_field :donator_name, value: form.object[:donator_name] %>
  </p>

  <% if !donator_logged_in? || current_donator.email_address.blank? %>
    <p>
      <%= label_tag :donator_email_address, t("donations.form.email_address") %>
      <%= text_field_tag :donator_email_address %>
    </p>
  <% end %>

  <p>
    <%= form.label :message, t("donations.form.message") %>
    <%= form.text_field :message %>
  </p>

  <p>
    <%= label_tag :on_behalf_of, t("donations.form.on_behalf_of") %>
    <%= text_field_tag :on_behalf_of, nil, placeholder: "your-best-friend@example.com" %>
  </p>

  <%= form.hidden_field :curated_streamer_id, value: local_assigns[:streamer]&.id %>
  <%= form.hidden_field :fundraiser_id, value: local_assigns[:fundraiser]&.id %>

  <div class="sum-warning" hidden>
    <p><%= t("donations.form.error.split_calculation") %></p>
    <p><%= t("donations.form.error.correct_and_try_again") %></p>
  </div>

  <button id="stripe-donate-button"><%= t("donations.form.action") %></button>
  <div id="paypal-donate-button-container">
    <div id="paypal-donate-button">
      Paypal
    </div>
  </div>
<% end %>
