<!DOCTYPE html>
<html>
  <head>
    <title>Jingle Jam 2049</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <script type="text/javascript">
      function onReady(callback) {
        if (document.readyState != 'loading'){
          callback();
        } else {
          document.addEventListener('DOMContentLoaded', callback);
        }
      }
    </script>

    <%= yield :head %>
  </head>

  <body>
    <h1>Jingle Jam 2049</h1>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
