<!DOCTYPE html>
<html>
  <head>
    <title>Jingle Jam - The Official Website</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <script type="text/javascript">
      function onReady(callback) {
        if (document.readyState != 'loading'){
          callback();
        } else {
          document.addEventListener('DOMContentLoaded', callback);
        }
      }
    </script>

    <%= yield :head %>
  </head>

  <body>
    <header>
      <div class="notices">
        <% if notice.present? %>
          <p class="notice"><%= notice %></p>
        <% end %>

        <% if alert.present? %>
          <p class="alert"><%= alert %></p>
        <% end %>
      </div>

      <nav>
        <div class="logo-box"><%= link_to_unless_current image_tag("Jingle_Jam_Logo_White_Alt", class: "logo"), root_path %></div>
        <ul>
          <li><%= link_to_unless_current "Your donations", donations_path %></li>
          <li><%= link_to_unless_current "Your game keys", keys_path %></li>
        </ul>
        <div class="filler" />
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
