<!DOCTYPE html>
<html>
  <head>
    <title>Jingle Jam - The Official Website</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      function onReady(callback) {
        if (document.readyState != 'loading'){
          callback();
        } else {
          document.addEventListener('DOMContentLoaded', callback);
        }
      }
    </script>

    <%= yield :head %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header>
      <div class="notices">
        <% if notice.present? %>
          <p class="notice"><%= notice %></p>
        <% end %>

        <% if alert.present? %>
          <p class="alert"><%= alert %></p>
        <% end %>
      </div>

      <nav>
        <div class="logo-box">
          <%= link_to_unless_current image_tag("Jingle_Jam_Logo_White_Alt.png", class: "logo", alt: "The Jingle Jam"), root_path %>
        </div>
        <ul>
          <li><%= link_to_unless_current t("navigation.donations"), donations_path %></li>
          <li><%= link_to_unless_current t("navigation.game_keys"), keys_path %></li>
        </ul>
        <div class="donator">
          <% if current_donator&.id %>
            <ul>
              <li><%= link_to current_donator.display_name, donator_path(current_donator) %></li>
              <li><%= button_to t("common.actions.log_out"), logout_path %></li>
            </ul>
          <% end %>
        </div>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
